html,
body{
    margin: 0;
    font-family: 'Kanit', sans-serif;
}
:root{
    --bg-color:#1e2022;
    --bg-container: #c9d6df;
    --button-border: white;
    --button-color: #fffbfb;
    --button-bgSelected: #16123f;
    --button-borderSelected: black;
    --text-color: white;
}
/*
:root {
    --white: #fffbfb;
    --grey: #f0eef1;
    --black: #050505;
    --red: #ff7070;
    --light-green: #9fff9c;
    --light-red: #ff9c9c;
    --border-radius: 8px;
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
    --spacing-xl: 40px;
    --container-width: 1200px;
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}*/
body{
    background: var(--bg-color);
}
#title{
    color: var(--text-color);
    text-align: center;

}
.container{
    background: var(--bg-container);
    text-align: left;
    display: block;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding: 0.75em 2em;
    border-radius: 20px;
    border: 2.5px solid var(--button-border);
}
.grade-outputBtn{
    text-align: center;
    font-size: 1rem;
    padding: 0.375rem 0.6rem;
    border: 0.2px solid var(--button-border);
    border-radius: 10px;
    background: var(--button-color);
}
.selected-btn{
    filter: brightness(90%);
    border: 1.2px solid var(--button-borderSelected);
}
input[type=number]{
    width: 5.5rem;
}
input[type=text]{
    width: 5.5rem;
}